Repository BuiltInDetroit/builtindetroit.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, stylelint --cache --fix, eslint

docs: minor change in root README
  README.md
Due: prettier --cache --write

ci: add initial GitHub pages build workflow
  .github/workflows/hugo.yaml
Due: none

ci: put pnpm installation step above Node.js install step
  .github/workflows/hugo.yaml
Due: none

refactor: remove 'bios' taxonomy
  .github/workflows/hugo.yaml
  README.md
  archetypes/events/index.md
  content/en/bios/adam-cook/_index.md
  content/en/events/db3df4f6-eec7-41c5-b8c3-4a553126315d/index.md
  content/en/events/ee1f034a-9288-43ed-8d83-dabe610c2206/index.md
  hugo.toml
  themes/kaigi/layouts/bios/bio.terms.html.html
Due: prettier --cache --write

content: add About page content
  .vscode/settings.json
  content/en/about.md
  content/en/about/index.md
  content/en/about/nothing_stops_detroit.jpg
  content/en/about/nothing_stops_detroit_1.jpg
  layouts/page/about.html
  themes/kaigi/assets/app.css
  themes/kaigi/layouts/partials/event_rsvp_live_stream.html
  themes/kaigi/tailwind.config.ts
Due: prettier --cache --write, stylelint --cache --fix, eslint

feat: add 'Copy Link' button to each page
  layouts/page/about.html
  themes/kaigi/assets/app.css
  themes/kaigi/layouts/events/single.html.html
  themes/kaigi/layouts/partials/footer.html
  themes/kaigi/layouts/partials/share.html
  themes/kaigi/static/icons/link.svg
  themes/kaigi/static/site-logo-dark.svg
  themes/kaigi/static/site-logo-light.svg
Due: prettier --cache --write, stylelint --cache --fix

content: add YouTube livestream URLs for two events
  content/en/events/db3df4f6-eec7-41c5-b8c3-4a553126315d/index.md
  content/en/events/ee1f034a-9288-43ed-8d83-dabe610c2206/index.md
  themes/kaigi/layouts/partials/event_rsvp_live_stream.html
Due: prettier --cache --write

chore: clarify wording on the 'RSVP required' notice for events
  themes/kaigi/i18n/ar.yaml
  themes/kaigi/i18n/be.yaml
  themes/kaigi/i18n/bn.yaml
  themes/kaigi/i18n/de.yaml
  themes/kaigi/i18n/en.yaml
  themes/kaigi/i18n/es.yaml
  themes/kaigi/i18n/fa.yaml
  themes/kaigi/i18n/fr.yaml
  themes/kaigi/i18n/he.yaml
  themes/kaigi/i18n/id.yaml
  themes/kaigi/i18n/it.yaml
  themes/kaigi/i18n/ja.yaml
  themes/kaigi/i18n/ko.yaml
  themes/kaigi/i18n/pl.yaml
  themes/kaigi/i18n/pt.yaml
  themes/kaigi/i18n/ru.yaml
  themes/kaigi/i18n/sw.yaml
  themes/kaigi/i18n/zh.yaml
Due: none

style: several modifications to enhance clarity
  hugo.toml
  themes/kaigi/assets/app.css
  themes/kaigi/i18n/ar.yaml
  themes/kaigi/i18n/be.yaml
  themes/kaigi/i18n/bn.yaml
  themes/kaigi/i18n/de.yaml
  themes/kaigi/i18n/en.yaml
  themes/kaigi/i18n/es.yaml
  themes/kaigi/i18n/fa.yaml
  themes/kaigi/i18n/fr.yaml
  themes/kaigi/i18n/he.yaml
  themes/kaigi/i18n/id.yaml
  themes/kaigi/i18n/it.yaml
  themes/kaigi/i18n/ja.yaml
  themes/kaigi/i18n/ko.yaml
  themes/kaigi/i18n/pl.yaml
  themes/kaigi/i18n/pt.yaml
  themes/kaigi/i18n/ru.yaml
  themes/kaigi/i18n/sw.yaml
  themes/kaigi/i18n/zh.yaml
  themes/kaigi/layouts/_default/list.html
  themes/kaigi/layouts/events/single.html.html
  themes/kaigi/layouts/partials/footer.html
  themes/kaigi/layouts/partials/header.html
  themes/kaigi/tailwind.config.ts
Due: prettier --cache --write, stylelint --cache --fix, eslint

fix: add Tailwind typography settings from small screens
  themes/kaigi/layouts/_default/baseof.html
  themes/kaigi/layouts/_default/list.html
  themes/kaigi/tailwind.config.ts
Due: prettier --cache --write, eslint

content: change date and time of the first event
  .vscode/settings.json
  archetypes/events/index.md
  content/en/events/db3df4f6-eec7-41c5-b8c3-4a553126315d/index.md
  content/en/events/ee1f034a-9288-43ed-8d83-dabe610c2206/index.md
  themes/kaigi/assets/app.css
  themes/kaigi/i18n/ar.yaml
  themes/kaigi/i18n/be.yaml
  themes/kaigi/i18n/bn.yaml
  themes/kaigi/i18n/de.yaml
  themes/kaigi/i18n/en.yaml
  themes/kaigi/i18n/es.yaml
  themes/kaigi/i18n/fa.yaml
  themes/kaigi/i18n/fr.yaml
  themes/kaigi/i18n/he.yaml
  themes/kaigi/i18n/id.yaml
  themes/kaigi/i18n/it.yaml
  themes/kaigi/i18n/ja.yaml
  themes/kaigi/i18n/ko.yaml
  themes/kaigi/i18n/pl.yaml
  themes/kaigi/i18n/pt.yaml
  themes/kaigi/i18n/ru.yaml
  themes/kaigi/i18n/sw.yaml
  themes/kaigi/i18n/zh.yaml
  themes/kaigi/layouts/partials/event_rsvp_live_stream.html
  themes/kaigi/layouts/partials/footer.html
  themes/kaigi/layouts/partials/share.html
Due: prettier --cache --write, stylelint --cache --fix

fix: link to Meetup RSVP was incorrectly set to the Eventbrite page
  themes/kaigi/layouts/partials/event_rsvp_live_stream.html
Due: none

content: change YouTube livestream urls for two events
  content/en/events/db3df4f6-eec7-41c5-b8c3-4a553126315d/index.md
  content/en/events/ee1f034a-9288-43ed-8d83-dabe610c2206/index.md
Due: prettier --cache --write

content: add "CNC System Internals" event
  archetypes/events/header.svg
  archetypes/events/index.md
  content/en/events/db3df4f6-eec7-41c5-b8c3-4a553126315d/header.svg
  content/en/events/db3df4f6-eec7-41c5-b8c3-4a553126315d/index.md
  content/en/events/db3df4f6-eec7-41c5-b8c3-4a553126315d/opengraph.png
  content/en/events/db3df4f6-eec7-41c5-b8c3-4a553126315d/tile.jpg
  content/en/events/ee1f034a-9288-43ed-8d83-dabe610c2206/header.svg
  content/en/events/ee1f034a-9288-43ed-8d83-dabe610c2206/index.md
  themes/kaigi/layouts/events/single.html.html
  themes/kaigi/layouts/partials/event_rsvp_live_stream.html
Due: prettier --cache --write

content: add YouTube livestream link to 'CNC System Internals' event
  content/en/events/db3df4f6-eec7-41c5-b8c3-4a553126315d/index.md
Due: prettier --cache --write

content: add 'Industrial Motion Control' event
  content/en/events/11558269-ce40-4a16-8048-5901abc895a4/index.md
  content/en/events/11558269-ce40-4a16-8048-5901abc895a4/opengraph.png
  content/en/events/11558269-ce40-4a16-8048-5901abc895a4/sme_chapter_153.svg
  content/en/events/11558269-ce40-4a16-8048-5901abc895a4/tile.jpg
Due: prettier --cache --write

content: add OpenGraph image to 'Industrial Motion Control' event
  content/en/events/11558269-ce40-4a16-8048-5901abc895a4/opengraph.png
Due: none

content: change venue for 'Industrial Motion Control' event
  .vscode/settings.json
  content/en/events/11558269-ce40-4a16-8048-5901abc895a4/index.md
Due: prettier --cache --write

content: set Industrial Motion Control event as a draft
  content/en/events/11558269-ce40-4a16-8048-5901abc895a4/index.md
Due: prettier --cache --write

Path conditions:
  prettier --cache --write: ((any of: **/*.css) or (any of: **/*.{js,ts})) or (any of: **/*.md)
  stylelint --cache --fix: any of: **/*.css
  eslint: any of: **/*.{js,ts}
